body {
  font-family: Lato, sans-serif;
  text-transform: capitalize;
}

.primary {
  /* background: #50a3a2 !important; */
  background: -webkit-linear-gradient(
    bottom top,
    #50a3a2 0%,
    #53e3a6 10%
  ) !important;
  background: -moz-linear-gradient(
    top bottom,
    #50a3a2 0%,
    #53e3a6 10%
  ) !important;
  background: -o-linear-gradient(
    top bottom,
    #50a3a2 0%,
    #53e3a6 10%
  ) !important;
  background: linear-gradient(bottom top, #50a3a2 0%, #53e3a6 100%) !important;
}

.row-home {
  display: flex;
  align-items: center;
  font-weight: bolder;
}

.landing-detail {
  padding: 200px !important;
}

.landing-detail > h1 {
  color: white;
}

.nav-item {
  padding: 13px;
}
.navbar-light .navbar-nav .nav-link {
  color: white !important;
  font-weight: bolder;
  font-size: 1em;
}

.btn-register {
  border-color: white !important;
  background-color: transparent;
  color: white !important;
  font-weight: bolder;
}

.btn-register:hover {
  background-color: transparent !important;
  border-color: white !important;
}

.btn-login {
  background-color: white !important;
  color: #53e3a6 !important;
  border-color: white !important;
  font-weight: bolder;
}

.btn-login:hover {
  background: #50a3a2;
  color: white !important;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

.image {
  background-image: url("../../../assets/a.png");
  background-size: cover;
  background-position: center;
  height: 60vh;
}

#search-box {
  border-radius: 15px 0px 0px 15px;
  border-color: white;
  transition: 1s ease;
  font-weight: bolder;
}

#search-box:focus {
  outline: none;
}

.input-group-append .input-group-text {
  border-radius: 0px 15px 15px 0px;
  background-color: white;
  border-color: white;
}

/* about-section */

#about-section {
  padding: 50px 200px !important;
}

#about-body {
  display: flex;
  align-items: center;
}

/* Collection Page  Section*/
#collection-section {
  padding: 50px 200px !important;
}

.view-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
