.modal {
  background-color: rgba(0, 0, 0, 0) !important;
  display: none;
  transition: 1s linear !important;
  padding: 200px;
}

.show {
  display: block !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.btn-login {
  background: white;
  color: #50a3a2;
  font-weight: bolder;
  border-color: #50a3a2 !important;
  transition: 1s ease !important;
}

.btn-login:hover {
  background: #50a3a2 !important;
  color: white !important;
  background: -webkit-linear-gradient(
    top left,
    #50a3a2 0%,
    #53e3a6 100%
  ) !important;
  background: -moz-linear-gradient(
    top left,
    #50a3a2 0%,
    #53e3a6 100%
  ) !important;
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%) !important;
  background: linear-gradient(
    to bottom right,
    #50a3a2 0%,
    #53e3a6 100%
  ) !important;
}
