.sidebar-list {
  padding: 15px;
  transition: 0.5s;
  cursor: pointer;
}

.sidebar-list:hover {
  background-color: #313131;
}

.sidebar-icon {
  margin-right: 10px;
}

.nav-link {
  color: rgba(251, 251, 251, 0.5);
}

.nav-link:hover {
  color: white;
}
