.section-title {
  background: #50a3a2;
  font-size: bolder;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.card-image {
  overflow: hidden;
}
.card-img-top {
  height: 450px;
  background-size: cover !important;
  width: 100%;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
  transition: 0.5s ease;
}

.card-movie-title {
  font-weight: bolder;
}

.card-movie {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  color: white;
  transition: 0.5s ease;
}

.card:hover > .card-image > .card-img-top {
  filter: brightness(50%);
  transform: scale(1.1, 1.1);
}

.card-movie-text {
  max-height: 100px;
  overflow: hidden;
  transition: 0.5s ease;
}

.card:hover > .card-body > .card-text {
  max-height: 0px;
  overflow: hidden;
  display: block;
}

.card-image:hover .middle {
  opacity: 1;
}

.new-badge {
  background-color: #ec4b4b;
}

.fa-star {
  color: #f5f83a;
}
