.navbar-collapse {
}

.navbar {
  background-color: white;
  padding: 0px !important;
}

.navbar-collapse {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar-nav {
  padding: 0px 20px !important;
}

#navbar-display {
  margin-right: 10px;
}

#navbar-profile {
  justify-content: flex-end;
}

#navbar-profile:hover {
  cursor: pointer;
  color: #007bff;
}

h5 {
  margin: 0px !important;
}
