#sidebar {
  background-color: #262626;
  color: rgba(251, 251, 251, 0.5) !important;
  padding: 20px;
  height: 100vh;
  padding: 0px;
  transition: 0.8s ease;
}

h6 {
  margin: 0 !important;
}

#sidebar-profile {
  padding: 20px;
}

#navigation {
  margin-top: 5px;
  padding: 15px;
  color: white;
  background-color: #313131;
}
