#login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
}

.primary {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

.transparent {
  background-color: transparent !important;
}

.btn-outline-success {
  border-color: white;
  color: white;
  font-weight: bolder;
}

.btn-outline-success:hover {
  background-color: transparent;
  border-color: white;
}

.btn-success {
  background-color: white;
  color: #53e3a6;
  border-color: white;
  font-weight: bolder;
}

.btn-success:hover {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

#login-form {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#login-header {
  width: 30%;
  margin-bottom: 30px;
}

.form-control-lg {
  width: 60% !important;
  margin: 10px;
  background-color: transparent !important;
  transition: width 1s !important;
  text-align: center !important;
}

#btn-register {
  width: 60% !important;
  background-color: transparent !important;
  border: 1px solid #ced4da !important;
  color: white;
  transition: background-color 0.5s !important;
}

#btn-register:hover,
#btn-register:focus {
  background-color: white !important;
  color: #53e3a6 !important;
  box-shadow: none !important;
}

::placeholder {
  color: white !important;
  text-align: center !important;
}

.form-control:focus {
  border-color: white !important;
  box-shadow: none !important;
  background-color: white !important;
  width: 80% !important;
  color: #50a3a2 !important;
}
